In [46]:
import pandas as pd
import numpy as np
df=pd.read_csv("C:\\Users\\Vivek Nag Kanuri\\Downloads\\employee_promotion.csv")

In [47]:
df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,0,49.0,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,60.0,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,50.0,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,50.0,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,73.0,0

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             52399 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  50684 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  awards_won            54808 non-null  int64
 11  avg_training_score    52248 non-null  float64
 12  is_promoted           54808 non-null  int64
dtypes: float64(2), int64(6), object(5)
memory usage: 5.4+ MB

In [51]:
df.drop('department', axis=1, inplace=True)
df.drop('region', axis=1, inplace=True)
df.drop('education', axis=1, inplace=True)
df.drop('gender', axis=1, inplace=True)
df.drop('recruitment_channel', axis=1, inplace=True)

In [52]:
df.isnull().sum()

employee_id                0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
awards_won                 0
avg_training_score      2560
is_promoted                0
dtype: int64

In [53]:
df.shape

(54808, 8)

In [54]:
df.interpolate(method='linear', limit_direction='forward',inplace=True)

In [55]:
df.fillna(method='ffill',inplace=True)

In [56]:
df.isnull().sum()

employee_id             0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
awards_won              0
avg_training_score      0
is_promoted             0
dtype: int64

In [60]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()

In [61]:
x=df.drop('is_promoted',axis=1)
y=df['is_promoted']
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3)

In [62]:
rf.fit(xtrain,ytrain)
ypred = rf.predict(xtest)

In [63]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score,recall_score,f1_score,precision_score

print('confusion matrix :',confusion_matrix(ytest,ypred))
print('classification report:',classification_report(ytest,ypred))
print('accuracy :',round(accuracy_score(ytest,ypred),2))
print('precision :',round(precision_score(ytest,ypred),2))
print('recall :',round(recall_score(ytest,ypred),2))
print('f1 :',round(f1_score(ytest,ypred),2))

confusion matrix : [[14881   126]
 [ 1200   236]]
classification report:               precision    recall  f1-score   support

           0       0.93      0.99      0.96     15007
           1       0.65      0.16      0.26      1436

    accuracy                           0.92     16443
   macro avg       0.79      0.58      0.61     16443
weighted avg       0.90      0.92      0.90     16443

accuracy : 0.92
precision : 0.65
recall : 0.16
f1 : 0.26

In [64]:
import pickle
pickle_out= open("rf.pkl","wb")
pickle.dump(rf,pickle_out)
pickle_out.close()